.DateSelector {
    margin: 2rem auto;
    
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    text-align: center;
    color: white;
    background-color: var(--background-color);

    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6));

    margin: 3px 10px 10px 3px;
}

.date-selector-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 10rem;
}

.date-selector {
    height: 2.4rem;
    width: 10rem;
    padding: 0 1rem;
    margin: 2rem auto 0 auto;

    border-radius: 3rem;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));

    font-family: 
        'Poppins',
        sans-serif;

    font-size: 0.7rem;
    cursor: pointer;
}

.button-fill {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    width: 15rem;
    margin: 2rem auto;
    border: none;
    border-radius: 10rem;
    background-color: var(--highlight-color-green);

    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.6));
    transition: 0.2s;
    cursor: pointer;

    color: black;
    font-family: 
        'Poppins',
        sans-serif;
    font-size: 1rem;
    font-weight: bold;  

}





.button-fill:hover,
.info:hover
{
    filter: brightness(1.2);
}
.button-fill:active,
.info:active
{
    transform: scale(0.95);
}

