.DateSelector {
    margin: 3rem auto;
}

.DateSelector p {
    margin: 1.3rem auto;
    font-size: 1rem;
}

.date-selector-form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.date-selector {
    height: 2.4rem;
    width: 10rem;
    padding: 0 1rem;

    border-radius: 3rem;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));

    font-family: 
        'Poppins',
        sans-serif;

    font-size: 0.7rem;
    cursor: pointer;

}