.Results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    animation-name: from-up-light;
    animation-duration: 2s;
}

.playlist-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem auto;
}

.uri {
    margin: 1rem auto;
    height: 5rem;
    border-radius: 2rem;
}

.listen-button, 
.again-button
{
    height: 2rem;

    margin: 1rem auto;

    border-color: var(--highlight-color-green);
    border-radius: 5rem;
    border-width: 3px;

    font-weight: bolder;
    font-size: 1rem;

    transition: 0.3s;
}


.listen-button{
    width: 13rem;
    border: none;
    background-color: var(--highlight-color-green);
    color: black;
}
.again-button {
    width: 8rem;
    font-size: 0.8rem;
    border-style: solid;
    background-color: var(--background-color);
    color: var(--highlight-color-green);

}