.SearchButton {
    margin: 3rem auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-fill {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 10rem;
    background-color: var(--highlight-color-green);

    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.6));
    transition: 0.2s;
    cursor: pointer;
}

.button-fill p {
    margin: 0.7rem 3rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

