.App {
    min-height: 100vh;
    width: 100vw;

    background: linear-gradient(to bottom right, var(--background-color), var(--highlight-color-dark-green));

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

button:hover{
    filter: brightness(1.2);
}
button:active {
    transform: scale(0.95);
}